
	/*paragraph on about page*/
	.aboutParagraph {
		font-size:3em;
		color: black;
		font-family: 'Adobe Caslon Pro', 'Hoefler Text', Georgia, Garamond, Times, serif;
		letter-spacing:0.1em;
		text-align:center;
		font-size:9pt;
		text-transform: uppercase;
		font-variant: small-caps;
		margin: 40px auto;
		}
